<ng-container
  *ngIf="{
    products: filteredProductList$ | async,
    categories: categories$ | async,
    info: restaurant$ | async,
    status: status$ | async,
    shoppingCart: shoppingCart$ | async
  } as restaurant">
  <div class="flex flex-col">
    <oxp-menu-header *ngIf="restaurant.info" [restaurant]="restaurant.info"></oxp-menu-header>
    <oxp-menu-category-carousel
      class="sticky top-0"
      *ngIf="restaurant?.info?.open"
      [categories]="restaurant.categories"
      [filterCtrl]="filterCtrl"
      (categoryClicked)="categoryClicked($event)"></oxp-menu-category-carousel>

    <!-- Produkte -->
    <oxp-menu-list
      *ngIf="restaurant.status === 'DATA'"
      [products]="restaurant.products"
      [filters]="filters$ | async"
      (openProductModal)="openProductModal($event)"
      class="pb-16"></oxp-menu-list>
    <div class="bg-color flex h-full w-full flex-col justify-center align-middle" *ngIf="restaurant.status === 'CLOSED'">
      <mat-icon class="flex h-1/2 w-full justify-center" style="font-size: 15rem">lock</mat-icon>
      <p class="m-4 text-center text-5xl">{{ 'RESTAURANT_CLOSED' | translate | uppercase }}</p>
    </div>
    <div class="bg-color flex h-full w-full flex-row justify-center align-middle" *ngIf="restaurant.status === 'LOADING'">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <oxp-toolbar-bottom [order]="restaurant.shoppingCart?.order!" [active]="'Menu'" *ngIf="restaurant.status === 'DATA'"></oxp-toolbar-bottom>
</ng-container>
