<div
  class="flex h-full flex-col overflow-hidden"
  *ngIf="{
    products: filteredProductList$ | async,
    categories: categories$ | async,
    info: restaurant$ | async,
    status: status$ | async,
    shoppingCart: shoppingCart$ | async
  } as restaurant">
  <!-- HEADER -->
  <header class="w-full">
    <oxp-menu-header
      *ngIf="restaurant.info"
      [filterCtrl]="filterCtrl"
      [categories]="restaurant.categories"
      [restaurant]="restaurant.info"
      [itemCount]="restaurant.shoppingCart?.items?.length!"
      [orderCount]="(orders$ | async)?.length!"
      [scrolling]="scrolling$ | async"
      (categoryClick)="categoryClicked($event)"></oxp-menu-header>
  </header>

  <!-- Produkte -->
  <main class="scrollbar-hide flex-1 overflow-y-scroll" id="track-scrolling">
    <oxp-menu-list
      *ngIf="restaurant.status === 'DATA'"
      [products]="restaurant.products"
      [filters]="filters$ | async"
      (openProductModal)="openProductModal($event)"
      (filtersChange)="filterChanged($event)"></oxp-menu-list>
    <div class="bg-color flex h-full w-full flex-col justify-center align-middle" *ngIf="restaurant.status === 'CLOSED'">
      <mat-icon class="flex h-1/2 w-full justify-center" style="font-size: 15rem">lock</mat-icon>
      <p class="m-4 text-center text-5xl">{{ 'RESTAURANT_CLOSED' | translate | uppercase }}</p>
    </div>
    <div class="bg-color flex h-full w-full flex-row justify-center align-middle" *ngIf="restaurant.status === 'LOADING'">
      <mat-spinner></mat-spinner>
    </div>
  </main>

  <button mat-fab color="primary" class="absolute right-6 bottom-14 z-10" *ngIf="restaurant.status === 'DATA'" (click)="openBottomSheet()">
    <mat-icon>help</mat-icon>
  </button>
  {{ restaurant.status }}
</div>
