::ng-deep .oxp-custom-group .mdc-form-field {
  display: flex !important;
  flex-grow: 1;
}

::ng-deep .oxp-custom-group .mdc-form-field label {
  display: flex !important;
  flex-grow: 1;
}

::ng-deep .mat-bottom-sheet-container {
  padding: 0px;
}
