<div class="flex h-full flex-col overflow-hidden" *ngIf="form$ | async as form">
  <oxp-page-header (closeCard)="navigateToProducts()">{{ 'WARENKORB' | translate | uppercase }}</oxp-page-header>
  <oxp-cart-main
    class="h-full flex-1 overflow-y-scroll"
    [form]="form"
    [restaurantInfo]="restaurantInfoVm$ | async"
    [ageRestricted]="(ageRestrictedProducts$ | async)!.length > 0"
    (removeProduct)="removeProduct($event)"></oxp-cart-main>
  <ng-container *ngIf="shoppingCartVm$ | async as vm">
    <footer class="border-grey w-full border-t p-4 text-center" *ngIf="vm.items.length > 0">
      <div class="flex">
        <button
          mat-flat-button
          class="ml-auto rounded-tl-xl rounded-br-xl"
          color="primary"
          [disabled]="(vm.items | sumOfProducts : form.getRawValue().tip!) < 0"
          (click)="bezahlen(form.getRawValue())">
          {{ 'ZUR_KASSE' | translate | uppercase }}
          {{
            (vm.items | sumOfProducts : form.getRawValue().tip!) / 100
              | currency : 'EUR' : undefined : undefined : translateService.getBrowserLang()
          }}
        </button>
      </div>
    </footer>
  </ng-container>
</div>
