<main class="flex-1 overflow-y-scroll p-4">
  <ng-container *ngIf="products.length > 0; else noProduct">
    <oxp-cart-product
      *ngFor="let productCart of products"
      [productCart]="productCart"
      (removeProduct)="removeProduct.emit(productCart)"></oxp-cart-product>

    <h2 class="font-medium text-xl mt-4">Bezahloptionen</h2>
    <mat-radio-group
      class="flex flex-col oxp-custom-group"
      (change)="paymentTypeChange.emit($event.value)">
      <mat-radio-button value="DIGITAL_PAYMENT" [checked]="true">
        <span class="py-2"> Digital </span>
      </mat-radio-button>
      <mat-radio-button value="CASH_PAYMENT">
        <span class="py-2"> Bar </span>
      </mat-radio-button>
    </mat-radio-group>

    <h4 class="font-medium text-xl mt-4">Trinkgeld</h4>
    <mat-chip-listbox (change)="tipChanged.emit($event.value)">
      <mat-chip-option [value]="100">1 €</mat-chip-option>
      <mat-chip-option [value]="200">2 €</mat-chip-option>
      <mat-chip-option [value]="500">5 €</mat-chip-option>
      <!-- <mat-chip-option (click)="addCustomTip()">Anderer Betrag</mat-chip-option> -->
    </mat-chip-listbox>
  </ng-container>
  <ng-template #noProduct>
    <div>Der Warenkorb ist leer!</div>
  </ng-template>
</main>
