<form [formGroup]="form">
  <main class="px-4">
    <ng-container *ngIf="form.getRawValue().items.length > 0; else noProduct">
      <oxp-cart-product
        *ngFor="let product of form.getRawValue().items; let index = index"
        [productCart]="product"
        (removeProduct)="removeProduct.emit(index)"></oxp-cart-product>

      <div *ngIf="ageRestricted">{{ 'AGE_RESTRICTION_HINT' | translate }}</div>

      <h2 class="mt-4 text-xl font-medium">{{ 'BEZAHLOPTIONEN' | translate | uppercase }}</h2>
      <mat-radio-group class="oxp-custom-group flex flex-col" color="primary" formControlName="paymentType">
        <mat-radio-button *ngFor="let paymentMethod of restaurantInfo?.acceptedPaymentMethods; let first = first" [value]="paymentMethod">
          <span class="py-2">{{ paymentMethod | translate | uppercase }}</span>
        </mat-radio-button>
      </mat-radio-group>

      <mat-form-field class="mt-4 w-full">
        <mat-label>{{ 'SHOPPINGCART_COMMENT' | translate }}</mat-label>
        <textarea matInput formControlName="comment"></textarea>
      </mat-form-field>

      <h4 class="pt-6 text-xl font-medium">{{ 'TRINKGELD' | translate | uppercase }}</h4>
      <div class="flex flex-row items-center">
        <mat-chip-listbox formControlName="tip">
          <mat-chip-option [value]="100" (click)="otherTip = 0">1 €</mat-chip-option>
          <mat-chip-option [value]="200" (click)="otherTip = 0">2 €</mat-chip-option>
          <mat-chip-option [value]="500" (click)="otherTip = 0">5 €</mat-chip-option>
          <mat-chip-option [value]="otherTip" selected *ngIf="otherTip > 0" (click)="otherTip = 0">
            {{ otherTip / 100 | currency : 'EUR' : undefined : undefined : translateService.getBrowserLang() }}
          </mat-chip-option>
        </mat-chip-listbox>
        <mat-chip class="ml-2" [matMenuTriggerFor]="menu" *ngIf="otherTip === 0">{{ 'ANDERER_BETRAG' | translate }}</mat-chip>
        <mat-menu #menu="matMenu">
          <div class="mx-2 flex flex-row items-center gap-2">
            <mat-form-field appearance="fill" (click)="$event.stopPropagation()">
              <mat-label>{{ 'TRINKGELD' | translate }}</mat-label>
              <input matInput #input type="number" min="1" autofocus oninput="validity.valid||(value='');" />
            </mat-form-field>
            <button class="h-14" mat-raised-button color="primary" (click)="addTip(input.value)">
              <mat-icon class="m-0">done</mat-icon>
            </button>
          </div>
        </mat-menu>
      </div>
    </ng-container>
    <ng-template #noProduct>
      <div>{{ 'WARENKORB_IST_LEER' | translate }}</div>
    </ng-template>
  </main>
</form>
