<header class="border-grey flex h-16 w-full items-center gap-4 border-b px-4">
  <button mat-icon-button [mat-dialog-close]="false">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div>
    <p class="text-2xl font-medium leading-tight">{{ data.product.name }}</p>
  </div>
</header>

<div>
  <mat-list>
    <mat-list-item>
      <span matListItemTitle>{{ 'ZUSATZSTOFFE' | translate }}:</span>
      <span matListItemLine>{{ data.product.additives.length > 0 ? data.product.additives.join(', ') : ('KEINE' | translate) }}</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>{{ 'ALLERGENE' | translate }}:</span>
      <span matListItemLine *ngFor="let allergen of data.product.allergens">- {{ allergen }}</span>
      <span matListItemLine *ngIf="data.product.allergens?.length === 0">{{ 'KEINE' | translate }}</span>
    </mat-list-item>
  </mat-list>
  <mat-accordion *ngFor="let extraGroup of data.product.extraGroups">
    <mat-expansion-panel *ngFor="let extra of extraGroup.extras">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ extra.name }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item>
          <span matListItemTitle>{{ 'ZUSATZSTOFFE' | translate }}:</span>
          <span matListItemLine>{{ extra.additives.length > 0 ? extra.additives.join(', ') : ('KEINE' | translate) }}</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>{{ 'ALLERGENE' | translate }}:</span>
          <span matListItemLine *ngFor="let allergen of extra.allergens">- {{ allergen }}</span>
          <span matListItemLine *ngIf="extra.allergens?.length === 0">{{ 'KEINE' | translate }}</span>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
