<mat-card class="h-full">
  <img mat-card-image [src]="product.imageUrl" [alt]="product.name" class="m-2 rounded-md" />
  <mat-card-content class="h-full">
    <mat-card-title class="text-slate-900 font-semibold">{{ product.name }}</mat-card-title>
    <mat-card-subtitle>{{ product.ingredients?.join(', ') }}</mat-card-subtitle>
  </mat-card-content>
  <mat-card-content>
    <span class="text-blue-700 font-semibold">
      {{ 'FROM' | translate }}
      {{ product.basePrice / 100 | currency : 'EUR' : undefined : undefined : translateService.getBrowserLang() }}
    </span>
  </mat-card-content>
</mat-card>
