<div class="bg-white shadow-md shadow-slate-200">
  <div class="flex flex-row items-center">
    <div class="scrollbar-hide flex gap-3 overflow-x-auto px-4 py-3 whitespace-nowrap w-full">
      <oxp-category
        *ngFor="let category of categories"
        [category]="category"
        (click)="clicked(category)">
      </oxp-category>
    </div>
    <span class="ml-auto flex items-center pr-4">
      <mat-icon
        matBadge="0"
        [matBadgeHidden]="!filterCtrl.value"
        [matMenuTriggerFor]="menu"
        (click)="focus()"
        class="cursor-pointer"
      >search</mat-icon>
    </span>
    <mat-menu #menu="matMenu" class="mr-4 w-56">
      <mat-form-field (click)="$event.stopPropagation()" class="w-full">
        <mat-label>{{ 'FILTERN' | translate }}</mat-label>
        <input type="search" name="search" matInput [formControl]="filterCtrl" id="filterCtrl" />
      </mat-form-field>
    </mat-menu>
  </div>
</div>
