::ng-deep .mat-mdc-menu-content {
  padding: 0px !important;
}

::ng-deep .mat-badge-content {
  width: 11px !important;
  height: 11px !important;
  line-height: 11px !important;
  margin-right: 5px;
  margin-top: 5px;
}
