<div class="flex flex-col justify-center gap-3">
  <button mat-flat-button color="primary" (click)="callService($event)">
    <mat-icon>notifications</mat-icon>
    {{ 'CALLSERVICE' | translate | uppercase }}
  </button>
  <button mat-flat-button color="primary" (click)="showDatenschutz()">
    <mat-icon>security</mat-icon>
    {{ 'DATENSCHUTZ' | translate | uppercase }}
  </button>
  <button mat-flat-button color="primary" (click)="showImpressum()">
    <mat-icon>storefront</mat-icon>
    {{ 'IMPRESSUM' | translate | uppercase }}
  </button>
</div>
