<div class="flex flex-col h-full overflow-hidden" *ngIf="order$ | async">
  <oxp-page-header (closeCard)="navigateToProducts()">{{ 'BESTELLUNG' | translate | uppercase }}</oxp-page-header>
  <!-- <oxp-cart-main
    class="h-full flex-1 overflow-y-scroll"
    [form]="form"
    [restaurantInfo]="restaurantInfoVm$ | async"
    (removeProduct)="removeProduct($event)"></oxp-cart-main> -->
  <!-- <ng-container *ngIf="shoppingCartVm$ | async as vm">
    <footer class="w-full text-center border-t border-grey p-4" *ngIf="vm.items.length > 0">
      <div class="flex">
        <button mat-flat-button class="ml-auto rounded-tl-xl rounded-br-xl" color="primary" (click)="bezahlen(form.getRawValue())">
          {{ 'ZUR_KASSE' | translate | uppercase }}
          {{
            (vm.items | sumOfProducts : form.getRawValue().tip!) / 100
              | currency : 'EUR' : undefined : undefined : translateService.getBrowserLang()
          }}
        </button>
      </div>
    </footer>
  </ng-container> -->
</div>
