<div class="grid grid-flow-col items-center justify-items-stretch px-4 pt-4">
  <img class="w-32 justify-self-start object-scale-down" [src]="restaurant?.coverUrl" (click)="openOrderXPay()" />
  <span class="self-center justify-self-center text-sm font-bold text-slate-900">{{ restaurant?.name }}</span>
  <div class="demo-section flex flex-row justify-self-end" *ngIf="restaurant?.open">
    <button
      *ngIf="orderCount > 0"
      class="flex"
      color="primary"
      mat-icon-button
      [matBadge]="orderCount"
      [matBadgeHidden]="orderCount <= 0"
      matBadgeSize="medium"
      routerLink="/orders">
      <mat-icon class="scale-150">account_circle</mat-icon>
    </button>
    <button
      mat-icon-button
      class="flex"
      color="primary"
      [matBadge]="itemCount"
      [matBadgeHidden]="itemCount <= 0"
      matBadgeSize="medium"
      routerLink="/shoppingcart">
      <mat-icon class="scale-150">shopping_basket</mat-icon>
    </button>
  </div>
</div>
