html,
body {
  height: 100%;
  font-family: 'Open Sans';
}
body {
  margin: 0;
}

// @font-face {
//   font-family: 'Open Sans', sans-serif;
//   src: url(assets/fonts/static/OpenSans-Regular.ttf);
// }

@font-face {
  font-family: 'Open Sans';
  src: url('assets/fonts/OpenSans-Regular.woff2') format('woff2');
}

// .bg-color {
//   background-color: #fcf8f5;
// }

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
