html,
body {
  height: 100%;
  font-family: 'Roboto';
}
body {
  margin: 0;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Light.ttf');
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
