<mat-card (click)="openOrder.emit()">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ 'TISCH' | translate }} {{ order.table }}</mat-card-title>
      <div>{{ 'BESTELLNUMMER' | translate }}: {{ order.orderNumber }}</div>
      <mat-card-subtitle>{{ order.createdAt | moment : 'DD.MM.YYYY HH:mm' }}</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <mat-icon>{{ order.paymentChannel | orderPaymentTypeToIcon }}</mat-icon>
    <div class="ml-auto">
      {{ order.totalPrice / 100 | currency : 'EUR' : undefined : undefined : translateService.getBrowserLang() }}
    </div>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate" *ngIf="order.status !== 'COMPLETED' && order.status !== 'CANCELLED'"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
