<div class="bg-color flex h-full w-full flex-col justify-center align-middle">
  <mat-icon class="flex h-1/2 w-full justify-center" style="font-size: 15rem">qr_code_2</mat-icon>
  <p class="m-4 text-center text-5xl">{{ 'QR_NOT_FOUND' | translate | uppercase }}</p>
  <div class="flex justify-center gap-2">
    <a href="https://www.henryapp.de/datenschutz">{{ 'DATENSCHUTZ' | translate | uppercase }}</a>
    <a href="https://www.henryapp.de/impressum">{{ 'IMPRESSUM' | translate | uppercase }}</a>
  </div>
</div>
