<div class="border-b border-grey pb-2">
  <div class="flex flex-row items-center justify-center gap-4">
    <span class="font-medium text-xl">{{ productCart.quantity }} x</span>
    <div class="flex flex-col">
      <span class="font-medium text-xl">
        {{ productCart.product.name }}
      </span>
    </div>
    <div class="ml-auto flex flex-row items-center justify-center">
      <span class="text-xl">
        {{
          ((productCart | sumOfProduct) * productCart.quantity) / 100
            | currency : 'EUR' : undefined : undefined : translateService.getBrowserLang()
        }}
      </span>

      <button mat-icon-button (click)="removeProduct.emit(productCart)" class="flex">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <ng-container *ngFor="let extra of productCart.product.extraGroups | extras">
    <span class="flex flex-row items-center font-medium text-l pl-14">
      + {{ extra.quantity > 1 ? extra.quantity + ' x' : '' }} {{ extra.name }}
    </span>
  </ng-container>
</div>
